* {
  box-sizing: border-box;
  font-family: 'Helvetica Neue', sans-serif;
}
.radio-tile-group {
  display: flex;
  flex-wrap: wrap;
  justify-content: left;
}
.radio-tile-group .input-container {
  position: relative;
  height: 30rem;
  width: 30rem;
  margin: 0.8rem;
}
.radio-tile-group .input-container .radio-button {
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  margin: 0;
  cursor: pointer;
}
.radio-tile-group .input-container .radio-tile {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  border: 2px solid rgb(251 35 90);
  border-radius: 5px;
  padding: 1rem;
  transition: transform 300ms ease;
}
.radio-tile-group .input-container .icon img {
  fill: rgb(251 35 90);
  width: 100%;
  height: 100%;
}
.radio-tile-group .input-container .radio-tile-label {
  text-align: center;
  font-size: 1.9rem;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: rgb(251 35 90);
}
.radio-tile-group .input-container .radio-button:checked + .radio-tile {
  background-color: rgb(251 35 90);
  background-image: linear-gradient(to top, rgba(251, 35, 90, 0.7) 0%, rgba(45, 48, 85, 0.7) 100%), url("../../../assets/img/stade.jpg");
  background-size: cover;

  color: white;

  border: 1px solid rgb(251 35 90);

  transform: scale(1.1, 1.1);
}
.radio-tile-group .input-container .radio-button:checked + .radio-tile .icon img {
  fill: white;
  background-color: rgb(251 35 90);
}





.ph{
  background-image: linear-gradient(to top, rgba(251, 35, 90, 0.7) 0%, rgba(45, 48, 85, 0.7) 100%), url("../../../assets/img/stade.jpg");
  background-size: cover;

  color: white;
}
.ph2{
  background-image: linear-gradient(to top, rgba(251, 35, 90, 0.7) 0%, rgba(45, 48, 85, 0.7) 100%), url("../../../assets/img/cinema.jpg");
  background-size: cover;

  color: white;
}

.sp{
  position: relative;
  display: inline-block;
  width: 100%;
  max-width: 100%;
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  line-height: 33px !important;
  margin: 40px auto;
  color: rgb(45, 48, 85);
  word-break: normal;
}



#tt :checked + .radio-tile {
  background-color: rgb(251 35 90);
  background-image: linear-gradient(to top, rgba(251, 35, 90, 0.7) 0%, rgba(45, 48, 85, 0.7) 100%), url("../../../assets/img/cinema.jpg");
  background-size: cover;

  color: white;

  border: 1px solid rgb(251 35 90);

  transform: scale(1.1, 1.1);
}
#tt .radio-tile-group .input-container .radio-button:checked + .radio-tile .icon img {
  fill: white;
  background-color: rgb(251 35 90);
}
.sp2 {
  font-size: 25px;
  font-weight: 700;
  color: rgb(45, 48, 85);
  word-break: normal;
  line-height: 20px !important;
  font-family: Montserrat, sans-serif;
  vertical-align: baseline;
  margin: 0px;
  padding: 0px;
  border-width: 0px;

  border-style: initial;
  border-color: initial;
  border-image: initial;
  box-sizing: border-box;
}


.dd {
  display: flex;
  -webkit-box-pack: justify;
  justify-content: space-between;
  border-bottom: 1px solid rgb(208, 216, 229);
  padding: 20px 0px 10px;
  font-size: 100%;
  font-family: Montserrat, sans-serif;
  vertical-align: baseline;
  margin: 0px;
  border-image: initial;
  box-sizing: border-box;
}

.sp3 {

  font-size: 17px;
  font-weight: 700;
  color: rgb(45, 48, 85);
  display: block;
  word-break: normal;
  line-height: 22px !important;
  margin: 15px 2px 2px ;

  vertical-align: baseline;

  padding: 0px;
  border-width: 0px;
  border-style: initial;
  border-color: initial;
  border-image: initial;
}


.container2 {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default radio button */
.container2 input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

/* Create a custom radio button */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #eee;
  border-radius: 50%;
}

/* On mouse-over, add a grey background color */
.container2:hover input ~ .checkmark {
  background-color: #ccc;
}

/* When the radio button is checked, add a blue background */
.container2 input:checked ~ .checkmark {
  background-color: rgb(45, 48, 85);
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the indicator (dot/circle) when checked */
.container2 input:checked ~ .checkmark:after {
  display: block;
}

/* Style the indicator (dot/circle) */
.container2 .checkmark:after {
  top: 9px;
  left: 9px;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: white;
}


.bt{
  position: center;
  font-size: 14px;
  font-weight: 700;
  width: 180px;
  height: 40px;
  background: rgb(251, 35, 90);
  color: white;
  cursor: pointer;
  display: inline-block;
  max-width: 100%;
  text-align: center;

  border-width: 1px;
  border-style: solid;
  border-color: rgb(251, 35, 90);
  border-image: initial;
  border-radius: 3px;
  font-family: Montserrat, sans-serif
}

.bt:hover{
  background: rgb(217, 33, 79);
  color: white;
}

.bt2 {
  margin: 0.4rem;
  font-size: 14px;
  font-weight: 700;
  height: 40px;
  color: rgb(45, 48, 85);
  width: 180px;
  cursor: pointer;
  background: transparent;
  border-width: 1px;
  border-style: solid;
  border-color: rgb(45, 48, 85);
  border-image: initial;
  border-radius: 3px;
  outline: 0px;
}

.bt2:hover{
  background: rgb(45, 48, 85);
  color: white;
}
