<div class="container">
  <span class="sp">Choose your type</span>
  <div class="radio-tile-group">

    <div class="input-container ph">

      <input id="walk"  [(ngModel)]="type" value="1"  class="radio-button" type="radio" name="radio" />
      <div class="radio-tile">
        <div class="icon walk-icon">


        </div>
        <label for="walk" class="radio-tile-label" style="color: rgb(255, 255, 255);">
          Match ticket</label>
      </div>
    </div>

    <div class="input-container  ph2" id="tt">
      <input id="bike" [(ngModel)]="type" value="2" class="radio-button" type="radio" name="radio" />
      <div class="radio-tile">
        <div class="icon bike-icon">

        </div>
        <label for="bike" class="radio-tile-label" style="color: rgb(255, 255, 255);">Cinema ticket</label>
      </div>
    </div>
  </div>
  <div class="container dd">
    <span class="sp2">What do you want?</span>
  </div>
  <div class="row">
    <div class="col-6">
      <label class="container2">
        <span class="sp3">Get Information</span>
        <span style="font-size: 14px;font-weight: 400;color: rgb(45, 48, 85);display: block;word-break: normal;line-height: 22px !important;">
        get all information needed and details
      </span>
        <input checked  type="radio"   value="11" (change)="changeopt($event.target.value)"  name="radio3">
        <span class="checkmark"></span>
      </label>
    </div>

    <div class="col-6">
      <label class="container2">
        <span class="sp3">Make a reservation</span>
        <span style="font-size: 14px;font-weight: 400;color: rgb(45, 48, 85);display: block;word-break: normal;line-height: 22px !important;">
        get all available and make a reservation
      </span>
        <input  value="22"  type="radio"  name="radio3" (change)="changeopt($event.target.value)">
        <span class="checkmark"></span>
      </label>
    </div>
  </div>

  <div class="row" style="display: flex;
  flex-wrap: wrap;
  margin-left: 300px;
  padding-top: 10px;
  justify-content: normal;">
  <button class="bt2" >
    cancel
  </button>

    <button (click)="redirection()"  class="bt" style="margin: 0.4rem;" >Continue</button>
  </div>
</div>
