
<nav  class="navbar navbar-expand-md  bg-white navbar-light fixed-top scrolling-navbar" style="box-sizing: border-box;box-shadow: rgba(0, 0, 0, 0.08) 0px 3px 6px;">

    <a class="navbar-brand" href="#" style="padding-left: 5%">
      <div class="row">
      <img src="../../../assets/img/plane.png" alt="" style="height: 35px">
        <p style="font-family:'Berlin Sans FB';font-size: 22px;font-style: inherit;">9o</p>
        <p style="font-family:'Berlin Sans FB' ;font-size: 20px;font-style: inherit;color: rgb(251, 35, 90)">ss</p>
        <p style="font-family:'Berlin Sans FB' ;font-size: 22px;font-style: inherit">li</p>
      </div>
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" style="padding-right: 10%" id="navbarResponsive">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item  ab" >
          <a class="nav-link" href="#" style="color: black">Home
            <span class="sr-only">(current)</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link  ab" href="#" style="color: black">About</a>
        </li>
        <li class="nav-item">
          <a class="nav-link  ab" href="#" style="color: black">Services</a>
        </li>
        <li class="nav-item">
          <a class="nav-link  ab" href="#" style="color: black">Connexion</a>
        </li>
        <li class="nav-item">
          <button class="bt">Get Your Ticket</button>
        </li>
      </ul>
    </div>


</nav>

